{% extends 'website/base.html' %}

{% block content %}
<section class="text-white body-font bg-gray-900">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap w-full mb-20">
            <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 ">Donations</h1>
                <div class="h-1 w-20 bg-indigo-500 rounded"></div>
            </div>
        </div>
        <div class="flex flex-wrap -m-4  w-full">
            <!-- {% for x in donations %}
            <img src="{{hosturl}}{{x.qr_code}}" alt="">
            {{x.gateway}}
            {% endfor %} -->
            <section class="bg-white dark:bg-gray-900">
                <div class="py-2 px-4 mx-auto max-w-screen-xl lg:py-2 lg:px-6 ">
                    <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
                        <!-- <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Our Team</h2> -->
                        <p class="font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400">Explore the whole collection of open-source web components and elements built with the utility classes from Tailwind</p>
                    </div> 
                    <div class="grid gap-8 mb-6 lg:mb-16 md:grid-cols-2">

                        {% for x in donations %}
                        <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
                           <div class="w-1/2">
                            <a href="#">
                                <img class="w-full rounded-lg sm:rounded-none sm:rounded-l-lg" src="{{hosturl}}{{x.qr_code}}" alt="Bonnie Avatar">
                            </a>
                           </div>
                            <div class="p-5 w-1/2">
                                <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                                    <a href="#">{{x.gateway}}</a>
                                </h3>
                                <span class="text-gray-500 dark:text-gray-400">{{x.account_number}}</span>
                                <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400">{{x.details}}</p>
                            </div>
                        </div>  
                        {% endfor %}

                    </div>  
                </div>
              </section>
        </div>
    </div>
</section>

{% endblock %}