{% extends 'website/base.html' %} 

{% block content %}
    <section class="text-white body-font bg-gray-900">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-wrap w-full mb-20">
            <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
              <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 ">About Us</h1>
              <div class="h-1 w-20 bg-indigo-500 rounded"></div>
            </div>
          </div>
          <div class="flex flex-wrap -m-4  w-full">
            <div class="w-full max-w-sm rounded bg-white h-96 m-auto shadow flex flex-col">
              <div class="mx-8 shadow rounded-full h-10 mt-4 flex p-1 relative items-center">
                  <div class="w-full flex justify-center">
                      <button>Left</button>
                  </div>
                  <div class="w-full flex justify-center">
                      <button>Right</button>
                  </div>
                  <span 
                  class="elSwitch bg-indigo-600 shadow text-white flex items-center justify-center w-1/2 rounded-full h-8 transition-all top-[4px] absolute left-1 ">
                  Text
                  </span>
              </div>
            </div>
          </div>
        </div>
      </section>
      
<script>
  const elSwitchs = document.querySelectorAll('.elSwitch')
  elSwitchs.forEach( e => {
          e.addEventListener('click', function(){
          if (e.classList.contains('left-[155px]')){
              e.classList.remove('left-[155px]')
              e.classList.add('left-1')
          }else {
              e.classList.remove('left-1')
              e.classList.add('left-[155px]')
          }
          
      })
  } )
  
</script>

{% endblock %}

