{% extends 'website/base.html' %} 

{% block content %}
    <section class="text-white body-font bg-gray-900">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-wrap w-full mb-20">
            <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
              <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 ">Videos</h1>
              <div class="h-1 w-20 bg-indigo-500 rounded"></div>
            </div>
          </div>
          <div class="flex flex-wrap -m-4  w-full">
            {% for x  in videos  %}
            <!-- <iframe width="420" height="315"
            src="https://www.youtube.com/embed/{{x.video}}">
            </iframe> -->

            <div class="flex justify-center  w-full mb-4 ">
              <div>
                <iframe class=" border-8 border-indigo-600 object-cover object-center rounded-lg" width="860" height="415" src="https://www.youtube.com/embed/{{x.video}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
            <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
              <h2 class="mb-4 text-2xl text-gray-100 ">{{x.title_en}}</h2>
          </div> 

            {% endfor %}

          </div>
        </div>
      </section>
    
{% endblock %}

