{% extends 'website/base.html' %} 

{% block content %}

<section class="relative pt-12 bg-gray-900">
<div class="items-center flex flex-wrap">
  <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
    <img alt="..." class="max-w-full rounded-lg shadow-lg" src="{{hosturl}}{{image}}">
  </div>
  <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
    <div class="md:pr-12">
      <div class="text-pink-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-pink-300 mt-8">
        <i class="fas fa-rocket text-xl"></i>
      </div>
      <h3 class="text-3xl font-semibold">{{name_en}}</h3>
      <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
        A growing Leader
      </p>
      <ul class="list-none mt-6">
        {% for x in agenda %}
        <li class="py-2">
          <div class="flex items-center">
            <div>
              <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-pink-200 mr-3"><i class="fas fa-fingerprint"></i></span>
            </div>
            <div>
              <h4 class="text-blueGray-500">
              {{x.title_en}}
              </h4>
            </div>
          </div>
        </li>
        {% endfor %}
       
      </ul>
    </div>
  </div>
</div>
<footer class="relative  pt-8 pb-6 mt-8">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap items-center md:justify-between justify-center">
      <div class="w-full md:w-6/12 px-4 mx-auto text-center">
        <div class="text-sm text-blueGray-500  py-1">
        {{bio_en}}
        </div>
      </div>
    </div>
  </div>
</footer>
</section>


{% endblock %}